.fl {
  float: left;
}

.fr {
  float: right;
}

.alignc {
  text-align: center;
}

.alignl {
  text-align: left;
}

.alignr {
  text-align: right;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.posr {
  position: relative;
}

.posa {
  position: absolute;
}

.pointer {
  cursor: pointer;
}

.flex {
  display: flex;
  &.flex-column {
    flex-direction: column;
  }
  &.justify-center {
    justify-content: center;
  }
  &.between {
    justify-content: space-between;
  }
  &.vcenter {
    align-items: center;
  }
}
.no-shrink {
  flex-shrink: 0;
}
.flex1 {
  flex: 1;
}

.bg-blue {
  background: #f7faff;
}
.bg-grey {
  background: #f8f8f8;
}

.w100 {
  width: 100px !important;
}
.w200 {
  width: 200px !important;
}
.w300 {
  width: 300px !important;
}

.font12 {
  font-size: 12px;
}
.bolder {
  font-weight: bolder;
}

@for $i from 0 through 20 {
  $v: 5;

  .mt#{$v * $i} {
    margin-top: #{$v * $i}px !important;
  }

  .mb#{$v * $i} {
    margin-bottom: #{$v * $i}px !important;
  }

  .ml#{$v * $i} {
    margin-left: #{$v * $i}px !important;
  }

  .mr#{$v * $i} {
    margin-right: #{$v * $i}px !important;
  }

  .pt#{$v * $i} {
    padding-top: #{$v * $i}px !important;
  }

  .pb#{$v * $i} {
    padding-bottom: #{$v * $i}px !important;
  }

  .pl#{$v * $i} {
    padding-left: #{$v * $i}px !important;
  }

  .pr#{$v * $i} {
    padding-right: #{$v * $i}px !important;
  }
}

.line1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@for $i from 2 through 10 {
  .line#{$i} {
    display: -webkit-box;
    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: #{$i};
    overflow: hidden;
  }
}

.flow {
  min-width: 700px !important;
}
.cursor-per {
  cursor: pointer;
}
.text-danger {
  color: #e30c0c !important;
}
